.home{
    background-color: rgb(255, 224, 229);
    height: 100%;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 110px;
    color: white;
}
.wrapper{
    text-align: center;
}

.firstName{
    color: white;
    text-shadow: 2px 2px 4px #d8709366;
}
.lastName{
    color: palevioletred;
    text-shadow: 2px 2px 4px rgba(255,255,255,1);
}

h1{
    font-size: 110px;
    
}
.roles{
    text-align: center;
    margin-top:300px;
    margin-left:-140px;
    position:absolute;
    
}
h2{
    font-size:35px;
    text-align: center;
    margin-top: -10px;
    text-shadow: 2px 2px 4px white;
}
h2 span{
    font-size: inherit;
    color: #d87093;
}

.ityped-cursor{
    width: 100%;
    background-color: white;
    font-size: 2rem;
    opacity: 1;
    -webkit-animation: blink 0.3s infinite;
    -moz-animation: blink 0.3s infinite;
    animation: blink 0.3s infinite;
    animation-direction: alternate;
    color:white;


}

@keyframes blink{
    100%{
        opacity: 0;
    }
   
}
@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}


