.intro{
    background-color:rgb(255, 214, 219);
    overflow-y:hidden;
}   
.rightImg{
    flex: 0.5;

    .imgContainer{
        height: 750px;       
        margin-top: 15px; 
        margin-left: 500px;           
    }
    
}
.aboutMe{
    background-color: white;
    border-radius: 10px;
    color: black;
    text-align: center;
    width: 750px;
    height: 650px;
    margin-top: 30px;
    position: absolute;
    top: 770px;
    left: 100px;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.2);
}
.aboutMe h2{
    padding-top: 60px;
    font-size: 33px;
    padding-bottom: 3px;
    color: rgb(255, 214, 219);
    text-shadow: 2px 2px 2px rgba(216, 112, 147,1);
}
.aboutMe p{
    padding-top: 20px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 13px;
}

.resumeButton{
    display: flex;
    background-color: rgb(255, 214, 219);
    border-radius:5px;
    color: white;
    text-align: center;
    width: max-content;
    height: 28px;
    padding-left:2px;
    padding-right: 2px;
    padding-bottom: 2px;
    position: absolute;
    top: 1385px;
    left: 385px;
    border: 3px solid rgb(255, 214, 219);
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    transition:smooth;
    text-decoration: none;
}

.resumeButton:hover{
    background-color: white;
    border: 3px solid palevioletred;
    color: palevioletred;
}

.contButton{
    display: flex;
    background-color: rgb(255, 214, 219);
    border-radius:5px;
    color: white;
    text-align: center;
    width: max-content;
    height: 28px;
    padding-left:2px;
    padding-right: 2px;
    padding-bottom: 2px;
    position: absolute;
    top: 1385px;
    left: 485px;
    border: 3px solid rgb(255, 214, 219);
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    transition:smooth;
    text-decoration: none;
}
.contButton:hover{
    background-color: white;
    border: 3px solid palevioletred;
    color: palevioletred;
}

