.intro{
    background-color:rgb(255, 214, 219);
    overflow-y:hidden;
}
    .left{
        flex: 0.5;
    }
    .right{
       flex: 0.5;
       .imgContainer{
            height: 900px;       
            margin-top: 35px; 
            margin-left: 800px;           

       }
    
    }
